:root {
    --purple-color: #4d2d52;
    --pink-color: #893168;
    --white-color-light: #fbfbfb;
    --main-heading-title: "Sansita Swashed", cursive;
    --text-main: "Baloo 2", cursive;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .welcome-header {
    background-color: var(--purple-color);
    color: var(--white-color-light);
    text-align: left;
    display: flex;
    align-items: center;
  }
  .welcome-header > h1 {
    font-family: var(--main-heading-title);
    font-size: 35px;
    font-weight: bold;
    width: 100%;
  }
  .welcome-header > img {
    width: 70px;
  }
  
  .welcome-description {
    font-family: "Philosopher", sans-serif;
    font-family: var(--text-main);
    color: var(--pink-color);
    font-size: 18px;
    background-color: var(--white-color-light);
    padding: 30px 30px 2px;
    margin: 0;
    width: 100%;
  }
  .intro-heading {
    font-family: var(--main-heading-title);
    font-size: 35px;
    font-weight: bold;
    width: 100%;
  }
  .card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_text {
    background-color: var(--white-color-light);
    padding: 5px 22vw 30px;
    font-size: 15px;
    color: var(--pink-color);
    text-align: center;
  }
  .show-recipies-link {
    text-decoration: none;
    color: var(--white-color-light);
    background-color: var(--pink-color);
    padding: 12px 10px;
    margin: 15px 0;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid var(--pink-color);
  }
  .show-recipies-link:hover {
    background-color: var(--white-color-light);
    border: 3px solid var(--pink-color);
    color: var(--pink-color);
    font-weight: bold;
  }
  #main-images-description-container {
    padding: 20px;
    background-color: var(--pink-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
  #images-description-holder-title {
    font-family: var(--main-heading-title);
    color: var(--white-color-light);
    text-align: center;
    z-index: 2;
    background-color: var(--pink-color);
    width: 100%;
    position: relative;
    margin-top: 40px;
  }
  #images-description-holder-title::before {
    content: "";
    width: 50%;
    border: 2px solid var(--purple-color);
    position: absolute;
    left: 23vw;
    top: 2vh;
    text-align: center;
    z-index: -1;
  }
  #dishes-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--pink-color);
    margin: 40px 0;
  }
  
  .categories-img {
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 0 0;
  }
  .image-and-description-container {
    margin: 20px 20px;
    background-color: var(--white-color-light);
    border: 1px solid var(--pink-color);
    border-radius: 10px;
  }
  .card-description {
    background-color: var(--white-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
  .card-image-text {
    font-size: 16px;
    font-family: var(--text-main);
    font-weight: bold;
    color: var(--pink-color);
    margin-bottom: 0;
  }
  .card-image-healthScore {
    font-size: 14px;
    font-family: var(--text-main);
    color: var(--pink-color);
  }
  .footer {
    text-align: center;
    background-color: var(--white-color-light);
    padding: 10px 0;
  }
  